<h1 class="font-bold text-4xl font-outfit">Angular Components Test Page</h1>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Alerts</h2>
<dui-alert icon="check" variant="success">
  <span slot="title">Success</span>
  This is a primary alert—check it out!
</dui-alert>
<dui-alert icon="x" variant="destructive">
  <span slot="title">Non</span>
  ça marche pas
</dui-alert>
<dui-alert icon="triangle-alert" variant="warning" closable>
  <span slot="title">Je sais pas</span>
  ça marche peut être
</dui-alert>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Alert modal</h2>
<dui-button (click)="alert.open()" class="w-fit">Open Alert</dui-button>
<dui-alert-modal #alert (confirm)="testAlert('confirm')" (cancel)="testAlert('cancel')" title="Are you sure?" message="Do you really want to do this?"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Avatars</h2>
<div class="flex gap-2">
  <dui-avatar src="https://github.com/DorvakOff.png" alt="@DorvakOff" fallback="DVK"/>
  <dui-separator vertical/>
  <dui-avatar src="brokenlink" alt="@DorvakOff" fallback="DVK"/>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Badges</h2>

<div class="flex gap-2">
  <dui-badge icon="check">Primary</dui-badge>
  <dui-badge variant="secondary">Secondary</dui-badge>
  <dui-badge variant="destructive">Danger</dui-badge>
  <dui-badge variant="info">Info</dui-badge>
  <dui-badge variant="warning">Warning</dui-badge>
  <dui-badge variant="success">Success</dui-badge>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Breadcrumbs</h2>
<dui-breadcrumb [items]="[{label: 'Home', url: '/'}, {label: 'Menu', url: '/menu'}, {label: 'Submenu', url: '/menu/submenu'}]"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Buttons</h2>

<div class="flex gap-2">
  <dui-button icon="check" (click)="testAlert()">Primary</dui-button>
  <dui-button variant="primary" size="icon" icon="check" (click)="testAlert()"/>
  <dui-button variant="secondary" (click)="testAlert()">Secondary</dui-button>
  <dui-button variant="destructive" (click)="testAlert()">Danger</dui-button>
  <dui-button variant="info" (click)="testAlert()">Info</dui-button>
  <dui-button variant="warning" (click)="testAlert()">Warning</dui-button>
  <dui-button variant="success" (click)="testAlert()">Success</dui-button>
  <dui-button variant="ghost" (click)="testAlert()">Ghost</dui-button>
  <dui-button disabled (click)="testAlert()">Disabled</dui-button>
  <dui-button loading (click)="testAlert()">Loading</dui-button>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Cards</h2>
<dui-card class="w-2/3 self-center relative">
  <span slot="title">Authentification</span>
  <span slot="subtitle">You need to login to access this page</span>

  <div class="absolute top-5 right-5 h-16 w-16 rounded-md bg-muted border-border border overflow-hidden">
    <img ngSrc="https://github.com/DorvakOff.png" draggable="false" alt="Image" fill/>
  </div>

  <div slot="content" class="flex gap-2">
    <form [formGroup]="formCard" slot="content" class="flex gap-2 flex-col w-1/2" (ngSubmit)="testAlert(formCard.value)">
      <dui-input placeholder="contact@dorvak.com" type="email" label="Email" required formControlName="email"/>
      <dui-input placeholder="Enter password" type="password" label="Password" required formControlName="password"/>
      <dui-checkbox label="Remember me" formControlName="remember"/>

      <div class="flex-1"></div>
      <dui-button variant="primary" class="w-full" icon="log-in" submit>Login</dui-button>
    </form>
    <dui-separator vertical/>
    <form [formGroup]="formCard" slot="content" class="flex gap-2 flex-col w-1/2" (ngSubmit)="testAlert(formCard.value)">
      <dui-input placeholder="contact@dorvak.com" type="email" label="Email" required formControlName="email"/>
      <dui-input placeholder="Dorvak" label="Username" required formControlName="username"/>
      <dui-input placeholder="Enter password" type="password" label="Password" required formControlName="password"/>

      <dui-button variant="primary" class="w-full" icon="log-in" submit>Register</dui-button>
    </form>
  </div>
</dui-card>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Checkboxes</h2>
<dui-checkbox label="Checkbox"/>
<dui-checkbox disabled checked label="Disabled Checkbox"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Combobox</h2>
<dui-combobox
  [items]="comboItems"
  (selectedChange)="testAlert($event)"
  label="Select an item"
  class="w-[300px]"
/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Inputs</h2>
<dui-input placeholder="contact@dorvak.com" type="email" class="w-[300px]"/>
<dui-input type="number" min="0" max="100" class="w-[300px]"/>
<dui-input disabled placeholder="placeholder" class="w-[300px]"/>
<dui-input placeholder="Input with icon" icon="circle-x" class="w-[300px]"/>
<dui-input readonly value="Valeur readonly" class="w-[300px]"/>

<div class="flex gap-1.5 flex-col">
  <dui-input value="value" required label="Test Label" class="w-[300px]"/>
</div>

<dui-input-otp (codeEntered)="testAlert($event)"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Links</h2>
<dui-link href="https://www.google.com">Google</dui-link>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Modals</h2>
<dui-button (click)="modal.open()" class="w-fit">Open Modal</dui-button>
<dui-modal #modal>
  <span slot="title">Please Login</span>
  <span slot="subtitle">You need to login to access this page</span>
  <form [formGroup]="formCard" slot="content" class="flex gap-2 flex-col" (ngSubmit)="testAlert(formCard.value); modal.close()">
    <dui-input placeholder="contact@dorvak.com" type="email" label="Email" required formControlName="email"/>
    <dui-input placeholder="Enter password" type="password" label="Password" required formControlName="password"/>

    <div class="flex-1"></div>
    <dui-button class="w-full" icon="log-in" submit>Login</dui-button>
  </form>
</dui-modal>

<dui-button (click)="formModal.reset(); modal2.open()" class="w-fit">Open Modal with a combobox inside</dui-button>
<dui-modal #modal2>
  <span slot="title">Please Select</span>
  <span slot="subtitle">You need to select an item</span>

  <div slot="content" class="flex flex-col gap-2 w-full">
    <form [formGroup]="formModal" class="flex gap-2 flex-col" (ngSubmit)="testAlert(formModal.value); modal2.close()">
      <dui-combobox [items]="comboItems" required label="Combobox" formControlName="combo"/>
      <dui-select [items]="selectItems" required label="Select" formControlName="select"/>
      <dui-textarea placeholder="Write something here" label="Write something here" required formControlName="textarea"/>

      <div class="flex-1"></div>

      <dui-button class="w-full" icon="check" submit>Confirm</dui-button>
    </form>
  </div>
</dui-modal>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Pagination</h2>
<dui-pagination [total]="100" [pageSize]="10"/>
<dui-pagination [total]="100" [pageSize]="10" showItemsCount="false"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Selects</h2>
<dui-select [items]="selectItems" (selectedChange)="testAlert($event)" class="w-[300px]" label="Select an item"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Switches</h2>
<dui-switch label="Switch"/>
<dui-switch disabled checked label="Disabled Switch"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Textareas</h2>
<dui-textarea placeholder="Write something here" label="Write something here" required/>
<dui-textarea placeholder="Disabled"/>
<dui-textarea value="Readonly" readonly/>
