<h1 class="font-bold text-4xl font-outfit">Angular Components Test Page</h1>

<hr class="my-8">
<h2 class="font-bold text-2xl font-outfit">Alerts</h2>
<dui-alert icon="check" variant="success">
  <span slot="title">Success</span>
  This is a primary alert—check it out!
</dui-alert>
<dui-alert icon="x" variant="destructive">
  <span slot="title">Non</span>
  ça marche pas
</dui-alert>
<dui-alert icon="triangle-alert" variant="warning">
  <span slot="title">Je sais pas</span>
  ça marche peut être
</dui-alert>

<hr class="my-8">
<h2 class="font-bold text-2xl font-outfit">Badges</h2>

<div class="flex">
  <dui-badge icon="check">Primary</dui-badge>
  <dui-badge variant="secondary">Secondary</dui-badge>
  <dui-badge variant="destructive">Danger</dui-badge>
  <dui-badge variant="info">Info</dui-badge>
  <dui-badge variant="warning">Warning</dui-badge>
  <dui-badge variant="success">Success</dui-badge>
</div>

<hr class="my-8">
<h2 class="font-bold text-2xl font-outfit">Buttons</h2>

<div class="flex gap-2">
  <dui-button icon="check" (click)="testAlert()">Primary</dui-button>
  <dui-button variant="primary" size="icon" icon="check" (click)="testAlert()"/>
  <dui-button variant="secondary" (click)="testAlert()">Secondary</dui-button>
  <dui-button variant="destructive" (click)="testAlert()">Danger</dui-button>
  <dui-button variant="info" (click)="testAlert()">Info</dui-button>
  <dui-button variant="warning" (click)="testAlert()">Warning</dui-button>
  <dui-button variant="success" (click)="testAlert()">Success</dui-button>
  <dui-button disabled (click)="testAlert()">Disabled</dui-button>
  <dui-button loading (click)="testAlert()">Loading</dui-button>
</div>
