<h1 class="font-bold text-4xl font-outfit">Angular Components Test Page</h1>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Alerts</h2>
<dui-alert icon="check" variant="success">
  <span slot="title">Success</span>
  This is a primary alert—check it out!
</dui-alert>
<dui-alert icon="x" variant="destructive">
  <span slot="title">Non</span>
  ça marche pas
</dui-alert>
<dui-alert closable icon="triangle-alert" variant="warning">
  <span slot="title">Je sais pas</span>
  ça marche peut être
</dui-alert>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Alert modal</h2>
<dui-button (click)="alert.open()" class="w-fit">Open Alert</dui-button>
<dui-alert-modal #alert (cancel)="testAlert('cancel')" (confirm)="testAlert('confirm')" message="Do you really want to do this?"
                 title="Are you sure?"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Avatars</h2>
<div class="flex gap-2">
  <dui-avatar alt="@DorvakOff" fallback="DVK" src="https://github.com/DorvakOff.png"/>
  <dui-separator vertical/>
  <dui-avatar alt="@DorvakOff" fallback="DVK" src="brokenlink"/>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Badges</h2>

<div class="flex gap-2 flex-wrap">
  <dui-badge icon="check">Primary</dui-badge>
  <dui-badge variant="secondary">Secondary</dui-badge>
  <dui-badge variant="destructive">Danger</dui-badge>
  <dui-badge variant="info">Info</dui-badge>
  <dui-badge variant="warning">Warning</dui-badge>
  <dui-badge variant="success">Success</dui-badge>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Breadcrumbs</h2>
<dui-breadcrumb [items]="[{label: 'Home', url: '#'}, {label: 'Menu', url: '#'}, {label: 'Submenu'}]"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Buttons</h2>

<div class="flex gap-2 flex-wrap">
  <dui-button (click)="testAlert()" icon="check">Primary</dui-button>
  <dui-button (click)="testAlert()" icon="check" size="icon" variant="primary"/>
  <dui-button (click)="testAlert()" variant="secondary">Secondary</dui-button>
  <dui-button (click)="testAlert()" variant="destructive">Danger</dui-button>
  <dui-button (click)="testAlert()" variant="info">Info</dui-button>
  <dui-button (click)="testAlert()" variant="warning">Warning</dui-button>
  <dui-button (click)="testAlert()" variant="success">Success</dui-button>
  <dui-button (click)="testAlert()" variant="ghost">Ghost</dui-button>
  <dui-button (click)="testAlert()" disabled>Disabled</dui-button>
  <dui-button (click)="testAlert()" loading>Loading</dui-button>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Calendar</h2>
<dui-calendar [value]="date"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Cards</h2>
<dui-card class="w-full md:w-2/3 self-center">
  <span slot="title">Authentification</span>
  <span slot="subtitle">You need to login to access this page</span>

  <div class="flex gap-2 flex-col md:flex-row" slot="content">
    <form (ngSubmit)="testAlert(formCard.value)" [formGroup]="formCard" class="flex w-full gap-2 flex-col md:w-1/2"
          slot="content">
      <dui-input formControlName="email" label="Email" placeholder="contact@dorvak.com" required type="email"/>
      <dui-input formControlName="password" label="Password" placeholder="Enter password" required type="password"/>
      <dui-checkbox formControlName="remember" label="Remember me"/>

      <div class="flex-1"></div>
      <dui-button class="w-full" icon="log-in" submit variant="primary">Login</dui-button>
    </form>
    <dui-separator class="hidden md:block" vertical/>
    <dui-separator class="md:hidden visible"/>
    <form (ngSubmit)="testAlert(formCard.value)" [formGroup]="formCard" class="flex w-full gap-2 flex-col md:w-1/2"
          slot="content">
      <dui-input formControlName="email" label="Email" placeholder="contact@dorvak.com" required type="email"/>
      <dui-input formControlName="username" label="Username" placeholder="Dorvak" required/>
      <dui-input formControlName="password" label="Password" placeholder="Enter password" required type="password"/>

      <dui-button class="w-full" icon="log-in" submit variant="primary">Register</dui-button>
    </form>
  </div>
</dui-card>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Chart</h2>
<div class="flex gap-2 items-center">
  <dui-line-chart class="w-4/5 self-center" [data]="chartValues" [config]="chartConfig"/>
  <div class="flex flex-col gap-2">
    <dui-input type="number" label="Number of points" required [(ngModel)]="numberOfPoints" (valueChange)="generateRandomChartData()" />
    <dui-button (click)="generateRandomChartData()" icon="shuffle">Generate random data</dui-button>
  </div>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Checkboxes</h2>
<dui-checkbox label="Checkbox"/>
<dui-checkbox checked disabled label="Disabled Checkbox"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Combobox</h2>
<dui-combobox
  [items]="comboItems"
  class="w-[300px]"
  label="Select an item"
/>
<dui-combobox
  [items]="comboItems"
  class="w-[300px]"
  label="Select multiple items"
  multi
/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Datepicker</h2>
<dui-date-picker class="w-[300px]" label="Select a date" placeholder="Select a date" required/>
<dui-date-picker class="w-[300px]" disabled label="Disabled date picker" placeholder="Select a date"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Dropdowns Menu</h2>
<dui-dropdown-menu class="w-fit" label="Dropdown">
  <dui-dropdown-item (click)="testAlert()">
    <div class="flex items-center justify-between w-full">
      Item 1
      <i-lucide name="check" size="16"/>
    </div>
  </dui-dropdown-item>
  <dui-dropdown-item (click)="testAlert()" disabled>Item 2</dui-dropdown-item>
  <dui-dropdown-item (click)="testAlert()">Item 3</dui-dropdown-item>
</dui-dropdown-menu>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Inputs</h2>
<dui-input class="w-[300px]" placeholder="contact@dorvak.com" type="email"/>
<dui-input class="w-[300px]" max="100" min="0" type="number"/>
<dui-input class="w-[300px]" disabled placeholder="placeholder"/>
<dui-input class="w-[300px]" icon="circle-x" placeholder="Input with icon"/>
<dui-input class="w-[300px]" readonly value="Valeur readonly"/>

<div class="flex gap-1.5 flex-col">
  <dui-input class="w-[300px]" label="Test Label" required value="value"/>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Input Groups</h2>
<dui-input class="w-[300px]" inputClass="rounded-r-none" label="Input with button">
  <dui-button buttonClass="!h-9 rounded-l-none" icon="check"/>
</dui-input>
<dui-input class="w-[300px]" inputClass="rounded-r-none" label="Input with span" placeholder="Enter an amount"
           type="number">
  <span class="rounded-r-md py-2 flex items-center justify-center px-4 bg-muted h-9 text-muted-foreground select-none">
    <i-lucide name="euro" size="16"/>
  </span>
</dui-input>
<dui-input class="w-[300px]" inputClass="rounded-r-none" label="Input with dropdown menu" placeholder="Select an item">
  <dui-dropdown-menu buttonClass="!h-9 rounded-l-none" label="Dropdown">
    <dui-dropdown-item>
      Item 1
    </dui-dropdown-item>
    <dui-dropdown-item>
      Item 2
    </dui-dropdown-item>
  </dui-dropdown-menu>
</dui-input>
<dui-input class="w-[300px]" inputClass="rounded-l-none" label="Input with select" placeholder="Select a country">
  <dui-select [items]="selectItems" inputClass="!h-9 rounded-r-none w-[100px]" slot="before"/>
</dui-input>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Links</h2>
<dui-link href="#">Google</dui-link>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Modals</h2>
<dui-button (click)="modal.open()" class="w-fit">Open Modal</dui-button>
<dui-modal #modal>
  <span slot="title">Please Login</span>
  <span slot="subtitle">You need to login to access this page</span>
  <form (ngSubmit)="testAlert(formCard.value); modal.close()" [formGroup]="formCard" class="flex gap-2 flex-col"
        slot="content">
    <dui-input formControlName="email" label="Email" placeholder="contact@dorvak.com" required type="email"/>
    <dui-input formControlName="password" label="Password" placeholder="Enter password" required type="password"/>

    <div class="flex-1"></div>
    <dui-button class="w-full" icon="log-in" submit>Login</dui-button>
  </form>
</dui-modal>

<dui-button (click)="formModal.reset(); modal2.open()" class="w-fit">Open Modal with a combobox inside</dui-button>
<dui-modal #modal2>
  <span slot="title">Please Select</span>
  <span slot="subtitle">You need to select an item</span>

  <div class="flex flex-col gap-2 w-full" slot="content">
    <form (ngSubmit)="testAlert(formModal.value); modal2.close()" [formGroup]="formModal" class="flex gap-2 flex-col">
      <dui-combobox [items]="comboItems" formControlName="combo" label="Combobox" multi required/>
      <dui-textarea formControlName="textarea" label="Write something here" placeholder="Write something here"
                    required/>
      <dui-select [items]="selectItems" formControlName="select" label="Select" required/>

      <div class="flex-1"></div>

      <dui-button class="w-full" icon="check" submit>Confirm</dui-button>
    </form>
  </div>
</dui-modal>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">OTP Input</h2>
<dui-input-otp (codeEntered)="testAlert($event)"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Pagination</h2>
<dui-pagination [pageSize]="10" [totalItems]="100" [totalPages]="10"/>
<dui-pagination [pageSize]="10" [totalItems]="100" [totalPages]="10" showItemsCount="false"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Radio Buttons</h2>
<dui-radio-group>
  <dui-radio-item label="Radio 1" value="1"/>
  <dui-radio-item label="Radio 2" value="2"/>
  <dui-radio-item label="Radio 3" value="3"/>
</dui-radio-group>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Selects</h2>
<dui-select (selectedChange)="testAlert($event)" [items]="selectItems" class="w-[300px]" label="Select an item"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Switches</h2>
<dui-switch label="Switch"/>
<dui-switch checked disabled label="Disabled Switch"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Tables</h2>

<h3 class="font-bold text-xl font-outfit">Table with selectable rows and action on selected rows</h3>
<dui-switch [(ngModel)]="multipleSelection" label="Toggle multiple selection"/>

<dui-table #table (rowClick)="testAlert($event)" [columnDefinitions]="columnDefinitions"
           [data]="tableData"
           enableRowClick selectable
           [selectMode]="multipleSelection ? 'multiple' : 'single'"
>
  <dui-button (click)="testAlert('add')" icon="plus" slot="actions">
    Add
  </dui-button>
  <dui-button (click)="testAlert(table.selectedRows)" [disabled]="table.selectedRows.length === 0" icon="pencil" slot="actions"
              variant="outline">
    Edit a row
  </dui-button>
</dui-table>

<h2 class="font-bold text-xl font-outfit">Table with no data</h2>
<dui-table [columnDefinitions]="columnDefinitions"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Tabs</h2>
<dui-tabs>
  <dui-tab title="Tab 1">
    <dui-card class="w-full">
      <span slot="title">Tab 1</span>
      <span slot="subtitle">Tab 1 subtitle</span>
      <span slot="content">Tab 1 content</span>
    </dui-card>
  </dui-tab>
  <dui-tab title="Tab 2">
    <dui-card class="w-full">
      <span slot="title">Tab 2</span>
      <span slot="subtitle">Tab 2 subtitle</span>
      <span slot="content">Tab 2 content</span>
    </dui-card>
  </dui-tab>
  <dui-tab disabled title="Tab 3"/>
</dui-tabs>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Textareas</h2>
<dui-textarea label="Write something here" placeholder="Write something here" required/>
<dui-textarea placeholder="Disabled"/>
<dui-textarea readonly value="Readonly"/>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Tooltip</h2>
<div class="flex gap-2">
  <dui-tooltip class="w-fit" text="This is a tooltip">
    <span class="underline w-fit">Top tooltip</span>
  </dui-tooltip>
  <dui-tooltip class="w-fit" side="bottom" text="This is a tooltip">
    <span class="underline w-fit">Bottom tooltip</span>
  </dui-tooltip>
  <dui-tooltip class="w-fit" side="left" text="This is a tooltip">
    <span class="underline w-fit">Left tooltip</span>
  </dui-tooltip>
  <dui-tooltip class="w-fit" side="right" text="This is a tooltip">
    <span class="underline w-fit">Right tooltip</span>
  </dui-tooltip>
</div>

<dui-separator/>
<h2 class="font-bold text-2xl font-outfit">Toasts</h2>
<dui-button class="w-fit" (click)="addToast()">Open Toast</dui-button>
<dui-toast/>
