<main class="mx-auto p-4 w-full md:w-4/5 flex flex-col gap-8">
  <div>
    <h1 class="text-4xl font-bold font-outfit">Welcome to Dorvak UI</h1>
    <p class="text-lg mt-2">Get started with your new project in minutes</p>
    <dui-button buttonClass="w-fit" size="sm" routerLink="/docs" role="link" icon="book">Documentation
    </dui-button>
  </div>

  <dui-tabs>
    <dui-tab title="Examples">
      <app-examples/>
    </dui-tab>
    <dui-tab title="Login & Register">
      <app-login-and-register-example/>
    </dui-tab>
    <dui-tab title="Table">
      <app-table-example/>
    </dui-tab>
    <dui-tab title="FAQ">
      <app-faq-example/>
    </dui-tab>
  </dui-tabs>
</main>
