<div class="flex-col border-input border-2 p-4 rounded-md">
  <div class="flex flex-row gap-2">
    <div [class]="cn('h-80 overflow-auto p-2 flex items-center justify-center', formFields && formFields.length ? 'w-2/3' : 'w-full')">
      <ng-container #preview></ng-container>
    </div>
    @if (formFields && formFields.length) {
      <dui-separator vertical/>
      <form class="w-1/3 flex flex-col gap-4 h-80 overflow-y-auto p-2" [formGroup]="form">
        <h2 class="text-lg font-bold">Customize the component</h2>
        @for (field of formFields; track $index) {
          @switch (field.type) {
            @case ('input') {
              <dui-input [label]="field.label ?? field.name | titlecase" [formControlName]="field.name"/>
            }
            @case ('textarea') {
              <dui-textarea [label]="field.label ?? field.name | titlecase" [formControlName]="field.name"/>
            }
            @case ('select') {
              <dui-select [label]="field.label ?? field.name | titlecase" [formControlName]="field.name" [items]="asAny(field.items)"/>
            }
            @case ('combobox') {
              <dui-combobox [label]="field.label ?? field.name | titlecase" [formControlName]="field.name" [items]="asAny(field.items)"/>
            }
            @case ('checkbox') {
              <dui-checkbox [label]="field.label ?? field.name | titlecase" [formControlName]="field.name"/>
            }
            @case ('date') {
              <dui-date-picker [label]="field.label ?? field.name | titlecase" [formControlName]="field.name"/>
            }
          }
        }
      </form>
    }
  </div>
  <dui-separator/>
  <dui-tabs>
    <dui-tab title="HTML" selected>
      <markdown
        clipboard [clipboardButtonComponent]="CopyButtonComponent"
        [data]="getCodeSnippet()"
        [class]="PROSE_CLASS"
      />
    </dui-tab>
    @if (getTsSnippet()) {
      <dui-tab title="TypeScript">
        <markdown
          clipboard [clipboardButtonComponent]="CopyButtonComponent"
          [data]="getTsSnippet()"
          [class]="PROSE_CLASS"
        />
      </dui-tab>
    }
  </dui-tabs>
</div>
